<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Uwarunkowanie na platformę</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>iOS</h1>
  <ion-segment mode="ios">
    <ion-segment-button>1</ion-segment-button>
    <ion-segment-button>2</ion-segment-button>
    <ion-segment-button>3</ion-segment-button>
  </ion-segment>

  <h1>Android</h1>
  <ion-segment mode="md">
    <ion-segment-button>1</ion-segment-button>
    <ion-segment-button>2</ion-segment-button>
    <ion-segment-button>3</ion-segment-button>
  </ion-segment>
</ion-content>
