<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Zakładki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="first">
        <ion-icon name="play-circle"></ion-icon>
        Pierwsza
      </ion-tab-button>
      <ion-tab-button tab="second">
        <ion-icon name="radio"></ion-icon>
        Druga
      </ion-tab-button>
      <ion-tab-button tab="third">
        <ion-icon name="library"></ion-icon>
        Trzecia
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
