<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Strona główna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider color="dark">Komponenty</ion-item-divider>
    <ion-item detail="true" href="components/buttons">Przyciski</ion-item>
    <ion-item detail="true" href="components/toolbars">Paski narzędzi</ion-item>
    <ion-item detail="true" href="components/lists">Listy</ion-item>
    <ion-item detail="true" href="components/cards">Karty</ion-item>
    <ion-item detail="true" href="components/forms">Formularz</ion-item>
  </ion-list>
</ion-content>
